.advantages {
    padding: 90px 0 100px;
    background: linear-gradient(273.59deg, #FE1725 0%, #EDAD57 100%);
    position: relative;
    &__mango1 {
        position: absolute;
        width: 111px;
        height: 113px;
        left: -155.18px;
        top: 15px;
        overflow: hidden;
    }
    &__mango2 {
        position: absolute;
        width: 98px;
        height: 100px;
        top: 250px;
        right: -280px;
        overflow: hidden;
    }
    &__leaf1 {
        position: absolute;
        width: 69px;
        height: 82px;
        top: 300px;
        left: -237px;
        overflow: hidden;
    }
    &__leaf2 {
        position: absolute;
        width: 85px;
        height: 101px;
        top: 0px;
        right: 10px;
        overflow: hidden;
    }
    &__ellipse1 {
        position: absolute;
        width: 340px;
        height:340px;
        top: 90px;
        left: -40px;
        overflow: hidden;
    }
    &__ellipse2 {
        position: absolute;
        width: 156px;
        height: 156px;
        left: 350px;
        top: 541px;
        overflow: hidden;
    }
    &__ellipse3 {
        position: absolute;
        width: 104px;
        height: 104px;
        left: 604px;
        top: -31px;
        overflow: hidden;
    }
    &__ellipse4 {
        position: absolute;
        width: 163px;
        height: 163px;
        right: 108px;
        top: 489px;
        overflow: hidden;
    }
    &__ellipse5 {
        position: absolute;
        width: 331px;
        height: 331px;
        right: -80px;
        top: -80px;
        overflow: hidden;
    }

    &__title {
        font-family: 'Montserrat';
        font-weight: 800;
        font-size: 3.6rem;
        line-height: 44px;
        text-align: center;
    }
    &__line {
        margin: 27px auto 50px;
        width: 64px;
        height: 8px;
        background: #FFFFFF;
        border-radius: 20px;
    }
    &__cards {
        display: flex;
        justify-content: space-between;
    }
    &__card {
        width: 370px;
        height: 281px;
        background: #FFFFFF;
        border-radius: 10px;
        &_header{
            display: flex;
            justify-content: space-between;
            padding: 31px 39px 0;
        }
        &_title {
            width: 213px;
            font-size: 1.8rem;
            font-weight: 800;
            line-height: 28px;
            color: #222;
        }
        &_line {
            width: 44px;
            height: 5px;
            margin: 27px 0px 24px 39px;
            background: #F75539;
            border-radius: 20px;
        }
        &_descr {
            padding: 0 35px 0 39px;
            color: #222222;
        }
    }

}