@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  src: url("../../fonts/Montserrat-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src: url("../../fonts/OpenSans-Regular.woff") format("woff");
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  src: url("../../fonts/OpenSans-SemiBold.woff") format("woff");
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  src: url("../../fonts/OpenSans-Bold.woff") format("woff");
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 800;
  src: url("../../fonts/OpenSans-ExtraBold.woff") format("woff");
}
