.header {
    width: 100%;
    padding-top: 80px;
    background: linear-gradient(to left ,#fe1725, #edad57);
    position: relative;
    &__top {
        z-index: 200;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        transition: all .8s;
        &.sticky {
            background: linear-gradient(277.57deg, #FE1725 0%, #EDAD57 100%);
            
        }
    }
    &__menu {
        display: flex;
        align-items: center;
    }
    &__logo {
        margin-left: 40px;
        width: 61px;
        height: 50px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__nav {
        display: flex;
        &_link {
            font-size: 1.4rem;
            color: #fff;
            text-decoration: none;
            margin-left: 28px;
            &:hover {
                position: relative;
                font-weight: 700;
                &::after {
                    content: "";
                    width: 100%;
                    height: 2px;
                    background-color: #fff;
                    position: absolute;
                    left: 0;
                    bottom: -5px;
                }
            }
        }
        .questions__soc {
            display: none;
        }
    }
    .container {
        padding: 129px 0 183px;
    }
    &__subtitle {
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 3.4rem;
        text-transform: uppercase;
        z-index: 20;
    }
    &__title {
        font-family: 'Montserrat';
        font-weight: 800;
        font-size: 8.6rem;
        text-transform: uppercase;
        z-index: 20;
    }
    &__text {
        margin-bottom: 27px;
        width: 291px;
        text-align: left;
        font-size: 1.8rem;
        line-height: 27px;
        z-index: 20;
    }
    &__man {
        position: absolute;
        width: 670px;
        height: 592px;
        left: 435px;
        bottom: 0px;
        overflow: hidden;
        z-index: 10;
    }
    &__mancircle1 {
        position: absolute;
        width: 606px;
        height: 606px;
        left: 573px;
        top: 129px;

    }
    &__mancircle2 {
        position: absolute;
        width: 740px;
        height: 740px;
        left: 503px;
        top: 62px;
    }
    &__mancircle3 {
        position: absolute;
        width: 864px;
        height: 864px;
        left: 433px;
        top: 0px;
    }
    &__ellipse1 {
        width: 313px;
        height: 243px;
        position: absolute;
        left: 213px;
        top: 126px;
    }
    &__ellipse2 {
        width: 218px;
        height: 218px;
        position: absolute;
        left: 615px;
        top: -54px;
    }
    &__ellipse3 {
        width: 292px;
        height: 292px;
        position: absolute;
        right: -116px;
        top: 143px;
    }
    &__mango1 {
        position: absolute;
        width: 79.59px;
        height: 81.02px;
        left: 170.26px;
        top: 461px;
        filter: blur(3px);
        transform: rotate(38.34deg);
        overflow: hidden;
        z-index: 10;
    }
    &__mango2 {
        position: absolute;
        width: 111px;
        height: 113px;
        top: 71px;
        left: 449px;
        z-index: 10;
    }
    &__mango3 {
        position: absolute;
        width: 79.59px;
        height: 81.02px;
        right: 54.45px;
        top: 350px;
        filter: blur(2px);
        transform: rotate(86.4deg);
        z-index: 10;
    }
    &__leaf1 {
        position: absolute;
        width: 87px;
        height: 103px;
        left: 152px;
        top: 208.02px;
        z-index: 10;
    }
    &__leaf2 {
        position: absolute;
        width: 76.86px;
        height: 85.48px;
        left: calc(50% - 46.86px/2 - 323.98px);
        top: 82.5px;
        filter: blur(1px);
        transform: rotate(116.73deg);
        z-index: 10;
    }
    &__leaf3 {
        position: absolute;
        width: 84.04px;
        height: 95.82px;
        left: calc(50% - 64.04px/2 - 350.5px);
        top: 584px;
        filter: blur(1px);
        transform: rotate(91.25deg);
        z-index: 10;
    }
    &__leaf4 {
        position: absolute;
        width: 83.22px;
        height: 93.01px;
        right: 191.58px;
        top: 119.72px;
        filter: blur(3px);
        transform: rotate(50.09deg);
        z-index: 10;
    }
}