.page {

@media (max-width: 1170px) {
    .container {
        width: 940px;
    }
       .header {
            .container {
            padding: 132px 0 161px 0px;
           }
           &__man {
            width: 581.6px;
            height: 513.89px;
            left: 355px;
            bottom: 0px;
            }
            &__mancircle1 {
                width: 526.04px;
                height: 526.04px;
                left: 476px;
                top: 178px;
            }
            &__mancircle2 {
                width: 642.36px;
                height: 642.36px;
                left: 419px;
                top: 125px;
            }
            &__mancircle3 {
                width: 750px;
                height: 750px;
                left: 360px;
                top: 73px;
            }
            &__ellipse1 {
                left: -91px;
                top: 145px;
            }
            &__ellipse2 {
                left: 243px;
                top: -36px;
            }
            &__ellipse3 {
               display: none;
            }
            &__mango1 {
                left: 28.26px;
                top: 516px;
            }
            &__mango2 {
                top: 142px;
                left: 377px;
            }
            &__mango3 {
                right: 23.45px;
                top: 287px;
            }
            &__leaf1 {
                left: 66px;
                top: 88px;
            }
            &__leaf2 {
                left: calc(50% - 46.86px/2 - 258.98px);
                top: 62.5px;
            }
            &__leaf3 {
                left: calc(50% - 64.04px/2 - 331.5px);
                top: 550px;
            }
            &__leaf4 {
                right: 170.58px;
                top: 72.72px;
            }
        } 
        .system {
            padding: 82px 0 97px;
            &__title {
                width: 600px;
                font-size: 3.2rem;
            }
            &__card {
                width: 300px;
                &_top {
                    height: 139px;
                }
                &_bot {
                    height: 146px;
                }
            }
        }
        .payment {
            padding: 81px 0 90px;
            &__title {
                font-size: 3.2rem;
                width: 545px;
            }
            &__subtitle {
                font-size: 2.2rem;
                width: 500px;
            }
            &__card {
                width: calc(192px - 20px);
                margin-bottom: 20px;
            }
        }
        .advantages {
            padding: 81px 0 90px;
            &__title {
                font-size: 3.2rem;
            }
            &__card {
                width: 300px;
                height: 323px;
                &_title {
                    font-size: 1.6rem;
                }
            }
            &__mango1 {
                width: 80.11px;
                height: 81.55px;
                left: 60.82px;
                top: -32px;
            }
            &__mango2 {
                right: -108px;
                top: 337px;
            }
            &__leaf1 {
                left: -97.13px;
                top: 319px;
            }
            &__leaf2 {
                width: 69.49px;
                height: 82.56px;
                top: -40px;
                right: 123px;
            }
            &__ellipse1 {
                width: 239px;
                height: 239px;
                top: 42px;
                left: -46px;
            }
            &__ellipse2 {
                width: 121px;
                height: 121px;
                left: 15px;
                top: 523px;
            }
            &__ellipse3 {
                left: 253px;
                top: -42px;
            }
            &__ellipse4 {
                right: 164px;
                top: 500px;
            }
            &__ellipse5 {
                width: 249px;
                height: 249px;
                right: -123px;
                top: -85px;
            }
        }
        .open {
            padding: 82px 0 90px;
            &__title {
              font-size: 3.2rem;  
            }
            &__subtitle {
                font-size: 2.2rem;
            }
            &__step {
                &_icon {
                    &-mini {
                        top: -10px;
                        left: -10px;
                    }
                }
            }
            &__hand {
                width: 367px;
                height: 272px;
                left: -250px;
                top: 0px;
            }
            &__polygon1 {
                display: none;
            }
            &__polygon2{
                display: none;
            }
        }
        .faq {
            padding: 82px 0 90px;
            &__title {
                font-size: 3.2rem;
            }
            &__line {
                width: 81.7px;
                height: 8px;
            }
            &__wrapper {
                &_col {
                    width: calc(480px - 20px);
                }
            }
            &__item {
                &_title {
                    &::after {
                        color: #D0D0D0;
                    }
                }  
                &_descr {
                    margin-top: 20px;
                }
                &_input {
                    &:checked ~ {
                        .faq__item_title {
                            &::after {
                                background-color: #D0D0D0;
                            }
                        }
                    }
                }
            }
            &__card {
                margin: 90px 10px 0;
            }
        }
        .questions {
            padding: 91px 0 97px;
            &__title {
                font-size: 3.2rem;
            }
            &__subtitle {
                font-size: 2.2rem;
            }
            &__tel {
                width: 33%;
                a {
                    font-size: 1.8rem;
                }
            }
            &__mail {
                width: 33%;
                font-size: 1.8rem;
            }
            &__soc {
                width: 33%;
            }
            &__ellipse1 {
                left: -148px;
                top: 112px;
            }
            &__ellipse2 {
                left: calc(50% - 145px/2 + 208.5px);
                 top: 286px;
            }
            &__ellipse3 {
                right: -165px;
                top: -70px;
            }
            &__leaf1 {
                width: 66px;
                height: 78px;
                left: -85px;
                top: 157px;
            }
            &__leaf2 {
                right: -73.79px;
                top: 20px;
            }
            &__mango1 {
                left: -73.96px;
                top: -65.68px;
            }
            &__symbl1 {
                width: 122px;
                height: 327px;
                left: 42px;
                top: -195px;
            }
            &__symbl2 {
                width: 91px;
                height: 246px;
                right: 57px;
                top: -145px;
            }
        }
    }
@media (max-width: 940px) {
    .container {
        width: 724px;
    }
    .btn {
        padding: 15px 27px;
        &.btn__header {
            margin-right: 30px;
        }
        &.btn__payment {
            margin: 30px auto 0;
        }
        &.btn__faq {
            width: 220px;
            height: 50px;
        }
    }
    .darkbg {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.3;
        transition: all .3s ease-in;
        z-index: 180;
        &.dark {
            display: block;
        }
    }
    .header {
        .container {
           padding: 86px 0 200px 0px;
        }
        &__title {
            font-size: 7rem;
        }
        &__subtitle {
            font-size: 2.8rem;
        }
        .burger {
            display: block;
        }
        &__nav {
            display: flex;
            flex-direction: column;
            align-items: start;
            position: fixed;
            left: 0;
            top: 0;
            width: 50%;
            height: 100vh;
            padding-top: 100px;
            background: linear-gradient(166.5deg, #EDAD57 0%, #FE1725 100%);
            transform: translateX(-100%);
            transition: transform 0.5s ease-in;
            z-index: 111;
            &_item {
                width: 100%;
                height: 70px;
                font-size: 2.4rem;
                opacity: 0;
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                &:nth-child(6) {
                    border: none;
                }
            }
            &_link {
                display: flex;
                align-items: center;
                height: 100%;
                padding-left: 26px;
                margin: 0;
                &:hover {
                    &::after {
                        content: none;
                    }
                }
            }
            &.nav-active {
                transform: translateX(0%);
            }
            .questions__soc {
                display: flex;
                width: 100%;
                justify-content: center;
                position: absolute;
                top: 70%;
                left: 0;
                margin-top: 30px;
                &_icon {
                    margin: 5px;
                }
            }
        }
        &__man {
        width: 586.25px;
        height: 518px;
        left: 287px;
        bottom: 0px;
        }
        &__mancircle1 {
            width: 530.25px;
            height: 530.25px;
            left: 400px;
            top: 150px;
        }
        &__mancircle2 {
            width: 647.5px;
            height: 647.5px;
            left: 345px;
            top: 85px;
        }
        &__mancircle3 {
            width: 756px;
            height: 756px;
            left: 290px;
            top: 30px;
        }
        &__ellipse1 {
            left: -78px;
            top: 147px;
        }
        &__ellipse2 {
            width: 162.73px;
            height: 158px;
            left: 228px;
            top: -42px;
        }
        &__ellipse3 {
           display: none;
        }
        &__mango1 {
            width: 81.06px;
            height: 81.96px;
            left: 22.26px;
            top: 450px;
        }
        &__mango2 {
            width: 72px;
            height: 71px;
            left: 325.26px;
            top: 177px;
        }
        &__mango3 {
            display: none;
        }
        &__leaf1 {
            left: 83px;
            top: 71px;
        }
        &__leaf2 {
            display: none;
        }
        &__leaf3 {
            left: calc(50% - 64.04px/2 - 169.5px);
            top: 508px;
        }
        &__leaf4 {
            right: 272.58px;
            top: 46.72px;
        }
    } 
    .system {
        padding: 72px 0 90px;
        &__title {
            width: 565px;
            font-size: 3rem;
            line-height: 42px;
        }
        &__line {
            margin: 15px auto 30px;
        }
        &__cards {
            flex-direction: column;
        }
        &__card {
            display: flex;
            width: 724px;
            margin-top: 20px;
            &_top {
                width: 310px;
                height: 152px;
                border-bottom:none;
                border-right: 3px solid #FFF4EC;
            }
            &_bot {
                width: 410px;
                height: 152px;
                display: flex;
                align-items: center;
            }
            &_title {
                width: 120px;
            }
            &_descr {
                padding: 23px 57px 13px 38px;
                text-align: left;
            }
        }
    }
    .payment {
        padding: 81px 0 80px;
        &__title {
            width: 350px;
            font-size: 3rem;
            line-height: 42px;
        }
        &__subtitle {
            width: 350px;
            font-size: 1.8rem;
            line-height: 27px;
        }
        &__logo {
            width: 262px;
            height: 160px;
        }
        &__cards {
            justify-content: center;
        }
        &__card {
            width: 166px;
            margin-right: 20px;
            
            &:nth-child(4) {
                margin-right: 0;
            }
            margin-right: 20px;
            &:nth-child(8) {
                margin-right: 0;
            }
            &:nth-child(10) {
                margin-right: 0;
            }
        }
    }
    .advantages {
        padding: 72px 0 80px;
        &__title {
            font-size: 3rem;
        }
        &__line {
            margin: 27px auto 30px;
        }
        &__cards {
            flex-direction: column;
        }
        &__card {
            width: 100%;
            height: auto;
            margin-top: 20px;
            &_title {
                width: 335px;
            }
            &_line {
                margin: 0px 0px 18px 39px;
            }
            &_descr {
                width: 542px;
                padding: 0 35px 36px 39px;
            }
        }
        &__mango1 {
            left: -37.18px;
            top: -5px;
        }
        &__mango2 {
            display: none;
        }
        &__leaf1 {
            left: 36.87px;
            top: 706px;
        }
        &__leaf2 {
            top: -43px;
            right: 40px;
        }
        &__ellipse1 {
            top: 380px;
            left: -28px;
        }
        &__ellipse2 {
            display: none;
        }
        &__ellipse3 {
            left: 194px;
            top: -31px;
        }
        &__ellipse4 {
            width: 163px;
            height: 163px;
            right: -33px;
            top: 741px;
        }
        &__ellipse5 {
            right: -81px;
            top: 181px;
        }

    }
    .open {
        padding: 72px 0 85px;
        &__title {
          font-size: 3rem;  
        }
        &__subtitle {
            font-size: 1.8rem;
        }
        &__steps {
            justify-content: space-between;
            align-items: start;
        }
        &__step {     
            width: 227px;   
            &_icon {
                &-mini {
                    top: -10px;
                    left: 70px;
                }
            }
        }
        &__hand {
            display: none;
        }
    }
    .faq {
        padding: 72px 0 79px;
        &__title {
            font-size: 3rem;
        }
        &__line {
            margin: 27px auto 30px;
        }
        &__wrapper {
            flex-direction: column;
            justify-content: center;
            margin-bottom: 60px;
            &_col {
                width: 100%;
            }
        }
        &__item {
            margin-top: 20px;
            margin-bottom: 0;
        }
        &__cards {
            flex-direction: column;
            width: 100%;
        }
        &__card {
            margin: 20px 0 0;
            width: auto;
            &.money {
                .faq__card_title {
                    font-size: 2.6rem;
                }
            }
            &_descr {
                width: 290px;
            }
        }
    }
    .questions {
        padding: 72px 0 84px;
        &__title {
            font-size: 3rem;
        }
        &__subtitle {
            font-size: 1.8rem;
        }
        &__tel {
            width: 33%;
            &_icon {
                width: 38px;
                height: 38px;
            }
            &_descr {
                font-size: 1.6rem;
            }
            a {
                font-size: 1.6rem;
            }
        }
        &__mail {
            width: 33%;
            &_icon {
                width: 38px;
                height: 38px;
            }
            a {
                font-size: 1.6rem;
            }
        }
        &__soc {
            width: 33%;
            &_icon {
                margin-right: 20px;
                font-size: 2.1rem;
                width: 38px;
                height: 38px;
            }
        }
        &__ellipse1 {
            left: -121px;
            top: 72px;
        }
        &__ellipse2 {
            left: calc(50% - 145px/2 + 210.5px);
            top: 229px;
        }
        &__ellipse3 {
            display: none;
        }
        &__leaf1 {
            width: 52px;
            height: 62px;
            left: -96px;
            top: 158px;
        }
        &__leaf2 {
            width: 49.73px;
            height: 58.65px;
            right: -37.79px;
            top: 70px;
        }
        &__mango1 {
            left: -73.96px;
            top: -44.68px;
        }
        &__symbl1 {
            display: none;
        }
        &__symbl2 {
            right: -40px;
            top: -140px;
        }
    }
    
}
@media (max-width: 764px) {
    ._anim-items {
        transform: translate(0px, 0px);
        opacity: 1;
    }
    .container {
        width: 422px;
    }
    .btn {
        margin: 0 auto;
        &.btn__payment {
            margin: 10px auto 0;
        }
        &.btn__faq {
            margin: 20px 0 0;
        }
    }
    .header {
        .container {
           padding: 28px 0 83px 0px;
        }
        &__menu {
            margin: 0 -30px 0 auto;
        }
        &__title {
            font-size: 6rem;
            text-align: center;
        }
        &__subtitle {
            font-size: 2.4rem;
            text-align: center;
        }
        &__text {
            margin: 0 auto;
            text-align: center;
            margin-bottom: 62px;
        }
        
        &__man {
            display: none;
        }
        &__mancircle1 {
            width: 162.73px;
            height: 158px;
            left: -104px;
            top: 253px;
        }
        &__mancircle2 {
            display: none;
        }
        &__mancircle3 {
            display: none;
        }
        &__ellipse1 {
            display: none;
        }
        &__ellipse2 {
            width: 162.73px;
            height: 158px;
            left: 171px;
            top: -39px;
        }
        &__ellipse3 {
            display: block;
            width: 162.73px;
            height: 158px;
            left: 626px;
            top: 143px;
        }
        &__mango1 {
            width: 58.33px;
            height: 58.98px;
            left: 202.26px;
            top: 295px;
        }
        &__mango2 {
            display: block;
            width: 62.33px;
            height: 61.46px;
            left: 407.26px;
            top: 34px;
        }
        &__mango3 {
            display: none;
        }
        &__leaf1 {
            width: 56.4px;
            height: 59.28px;
            left: 83px;
            top: 71px;
            transform: matrix(0.83, -0.53, 0.57, 0.84, 0, 0);
        }
        &__leaf3 {
            display: none;
        }
        &__leaf4 {
            width: 54.63px;
            height: 63.23px;
            right: 147.58px;
            top: 296.72px;
            transform: matrix(0.94, 0.33, -0.35, 0.94, 0, 0);
        }
    } 
    .system {
        padding: 63px 0 60px;
        &__title {
            width: 348px;
            font-size: 2.6rem;
            line-height: 36px;
        }
        &__line {
            width: 50px;
            height: 5px;
            margin: 18px auto 20px;
        }
        &__card {
            display: flex;
            flex-direction: column;
            width: 422px;
            margin-top: 20px;
            &_top {
                width: 100%;
                height: 139px;
               
                border-bottom: 3px solid #FFF4EC;
                border-right: none;
            }
            &_bot {
                width: 100%;
                height: 92px;
                display: flex;
                align-items: center;
            }
            &_title {
                width: 110px;
                font-size: 1.4rem;
            }
            &_descr {
                margin: 0 auto;
                padding: 23px 30px;
                font-size: 1.4rem;
                text-align: center;
            }
        }
    }
    .payment {
        padding: 64px 0 75px;
        &__header{
            flex-direction: column;
            align-items:center;
            text-align: center;
        }
        &__title {
            width: 328px;
            font-size: 2.6rem;
            line-height: 36px;
        }
        &__subtitle {
            width: 350px;
            font-size: 1.6rem;
            line-height: 27px;
        }
        &__line {
            margin: 12px auto 35px;
            width: 50px;
            height: 5px;
        }
        &__logo {
            width: 200px;
            height: 122px;
        }
        &__cards {
            margin-top: 25px;
            justify-content: center;
        }
        &__card {
            width: 134px;
            height: 110px;
            margin-right: 10px;
            // img {
            //     width: 60%;
            //     height: 60%;
            // }
            &:nth-child(3) {
                margin-right: 0px;
            }
            &:nth-child(4) {
                margin-right: 10px;
            }
            &:nth-child(6) {
                margin-right: 0px;
            }
            &:nth-child(8) {
                margin-right: 10px;
            }
            &:nth-child(9) {
                margin-right: 0px;
            }
            &:nth-child(10) {
                margin-right: 0;
            }
        }
        &__polygon1 {
            display: block;
            width: 77.91px;
            height: 71.49px;
            top: 442px;
            left: -144px;
        }
        &__polygon2 {
            display: block;
            width: 88.87px;
            height: 80.98px;
            top: 199px;
            left: -129px;
        }
        &__polygon3 {
            display: block;
            width: 85.08px;
            height: 77.7px;
            top: 635px;
            left: 470px;
        }
        &__polygon4 {
            display: block;
            width: 98px;
            height: 91.57px;
            top: 835px;
            left: 500px;
        }
    }
    .advantages {
        padding: 63px 0 85px;
        &__title {
            font-size: 2.6rem;
        }
        &__line {
            margin: 27px auto 20px;
            width: 50px;
            height: 5px;
        }
       
        &__card {
            &_title {
                width: 215px;
                font-size: 1.4rem;
                line-height: 22px;
            }
            &_line {
                margin: 11px 0px 19px 39px;
            }
            &_descr {
                width: 346px;
                padding: 0 35px 36px 39px;
                font-size: 1.4rem;
            }
        }
        &__mango1 {
            left: -125.18px;
            top: 140px;
        }
        &__mango2 {
            display: block;
            left: 481.18px;
            top: 470px;
        }
        &__leaf1 {
            left: -128.13px;
            top: 642px;
        }
        &__leaf2 {
            top: 15px;
            right: -103px;
        }
        &__ellipse1 {
            top: 392px;
            left: -61px;
        }
       
        &__ellipse3 {
            left: 40px;
            top: -27px;
        }
        &__ellipse4 {
            right: -43px;
            top: 767px;
        }
        &__ellipse5 {
            right: -120px;
            top: 246px;
        }

    }
    .open {
        padding: 63px 0 70px;
        &__title {
            font-size: 2.6rem;  
            line-height: 32px;
        }
        &__subtitle {
            font-size: 1.6rem;
            line-height: 22px;
        }
        &__line {
            width: 50px;
            height: 5px;
            margin: 21px auto 20px;
        }
        &__steps {
            flex-direction: column;
            align-items: center;
        }
        &__step {     
            display: flex;
            flex-direction: row;
            justify-content: start;
            width: 300px;
            margin-top: 30px;
            &_icon {
                width: 75px;
                height: 75px;
                margin-right: 21px;
                margin-bottom: 0;
                img {
                    width: 100%;
                }
            }
            &_icon-mini {
                width: 29px;
                height: 29px;
                top: -8px;
                left: 32px;
            }
            &_text {
                font-size: 1.4rem;
                text-align: left;
                line-height: 19px;
            }
        }
    }
    .faq {
        padding: 70px 0 69px;
        &__title {
            font-size: 2.6rem;
        }
        &__line {
            margin: 27px auto 20px;
            width: 50px;
            height: 5px;
        }
        &__wrapper {
            margin-bottom: 50px;
        }
        &__item {
            &_title {
                padding: 0 72px 0 88px;
                font-size: 1.4rem;
            }
            &_descr {
                font-size: 1.4rem;
            }
        }
        &__cards {
            flex-direction: column;
            width: 100%;
        }
        &__card {
            margin: 20px 0 0;
            width: auto;
            &.money {
                .faq__card_title {
                    font-size: 2.6rem;
                }
            }
            &_descr {
                width: 290px;
            }
        }
    }
    .questions {
        padding: 63px 0 70px;
        &__title {
            font-size: 2.6rem;
        }
        &__subtitle {
            font-size: 1.6rem;
        }
        &__line {
            width: 50px;
            height: 5px;
            margin: 20px auto 27px;
        }
        &__wrapper {
            flex-direction: column;
        }
        &__tel {
            width: 100%;
            text-align: center;
            &_icon {
                display: none;
            }
            &_descr {
                font-size: 1.4rem;
                line-height: 19px;
                text-align: center;
            }
            a {
                font-size: 2.4rem;
                line-height: 33px;
            }
        }
        &__mail {
            width: 100%;
            margin-top: 6px;
            &_icon {
                display: none;
            }
            &_descr {
                font-size: 1.4rem;
                line-height: 19px;
                text-align: center;
            }
            a {
                font-size: 1.8rem;
                line-height: 25px;
            }
        }
        &__soc {
            width: 100%;
            justify-content: center;
            &_icon {
                margin: 24px 10px 0;
            }
        }
        &__ellipse1 {
            left: -102px;
            top: 115px;
        }
        &__ellipse2 {
            left: 561px;
            top: 258px;
        }
        &__leaf1 {
            left: -30px;
            top: 226px;
        }
        &__leaf2 {
            right: -110.79px;
            top: 61px;
        }
        &__mango1 {
            left: -87.96px;
            top: -22.68px;
        }
        &__symbl2 {
            right: -72px;
            top: -123px;
        }
    }
}
@media (max-width: 480px) {

    .container {
        width: 310px;
    }
    .btn {
        width: 200px;
        height: 50px;
        font-weight: bold;
        font-size: 1.4rem;
        line-height: 19px;
        &.btn__header {
            width: 110px;
            height: 36px;
            border-radius: 30px;
            font-weight: 800;
            font-size: 1.3rem;
            line-height: 18px;
        }
        &.btn__payment {
            margin-top: 30px;
        }
    }
    .header {
        .container {
           padding: 42px 0 117px 0px;
        }
        &__nav {
            width: 60%;
        }
        &__logo {
            display: none;
        }
        &__title {
            font-size: 5rem;
        }
        &__subtitle {
            font-size: 2rem;
        }
        &__text {
            width: 278px;
            font-size: 1.6rem;
            line-height: 24px;
            margin-bottom: 50px;
        }
        &__mancircle1 {
            left: -187px;
            top: 290px;
        }
        &__ellipse2 {
            left: 111px;
            top: -28px;
        }
        &__ellipse3 {
            left: 330px;
            top: 73px;
        }
        &__mango1 {
            left: 36.26px;
            top: 329px;
        }
        &__mango2 {
            left: 288.26px;
            top: -18px;
        }
        &__leaf1 {
            left: 40px;
            top: 114px;
        }
        &__leaf4 {
            right: 35.58px;
            top: 288.72px;
        }
    } 
    .system {
        padding: 55px 0 60px;
        &__title {
            width: 310px;
        }
        &__line {
            margin: 15px auto 10px;
        }
        &__card {
            width: 310px;
            margin-top: 20px;
            &_bot {
                width: 100%;
                height: auto;
                margin: 0;
            }
            &_title {
                width: 110px;
                font-size: 1.4rem;
            }
            &_descr {
                width: auto;
                margin: 0;
                padding: 20px 19px;
                line-height: 22px;
                text-align: center;
            }
        }
    }
    .payment {
        padding: 64px 0 60px;
        &__title {
            width: 305px;
            margin: 0 auto;
            font-size: 2.4rem;
            line-height: 33px;
        }
        &__subtitle {
            width: 312px;
            line-height: 23px;
            margin-top: 10px;
        }
        &__line {
            margin: 12px auto 27px;
        }
        &__logo {
            width: 150px;
            height: 91px;
        }
        &__cards {
            margin-top: 15px;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        &__card {
            width: calc(50% - 5px);
            margin: 10px 0 0;
            &:nth-child(3) {
                margin-right: 0px;
            }
            &:nth-child(4) {
                margin-right: 0px;
            }
            &:nth-child(6) {
                margin-right: 0px;
            }
            &:nth-child(8) {
                margin-right: 0px;
            }
            &:nth-child(9) {
                margin-right: 0px;
            }
            &:nth-child(10) {
                margin-right: 0px;
            }
        }
        &__polygon1 {
            display: none;
        }
        &__polygon2 {
           display: none;
        }
        &__polygon3 {
            display: none;
        }
        &__polygon4 {
            display: none;
        }
    }
    .advantages {
        padding: 53px 0 60px;
        &__title {
            font-size: 2.4rem;
        }
        &__line {
            margin: 10px auto 10px;
            width: 50px;
            height: 5px;
        }
        &__card {
            &_header {
                padding: 25px 29px 0;
            }
            &_title {
                width: 178px;
            }
            &_line {
                margin: 11px 0px 19px 29px;
            }
            &_descr {
                width: auto;
                padding: 0 32px 29px 29px;
            }
        }
        &__mango1 {
            display: none;
        }
        &__mango2 {
            display: none;
        }
        &__leaf1 {
            display: none;
        }
        &__leaf2 {
            display: none;
        }
        &__ellipse1 {
            display: none;
        }
        &__ellipse3 {
           display: none;
        }
        &__ellipse4 {
            display: none;
        }
        &__ellipse5 {
            display: none;
        }

    }
    .open {
        padding: 54px 0 60px;
        &__title {
            font-size: 2.4rem;  
            line-height: 29px;
        }
        &__subtitle {
            margin-top: 4px;
        }
        &__line {
            width: 50px;
            height: 5px;
            margin: 15px auto 0px;
        }
        &__steps {
            flex-direction: column;
            align-items: center;
        }
        &__step {     
            width: 310px;
            justify-content: center;
            &_text {
                width: 172px;
            }
        }
    }
    .faq {
        padding: 55px 0 60px;
        &__title {
            font-size: 2.4rem;
        }
        &__line {
            margin: 15px auto 20px;
        }
        &__wrapper {
            margin-bottom: 40px;
        }
        &__item {
            &_title {
                padding: 0 72px 0 75px;
                &::before {
                    left: 20px;
                    top: 45px;
                }
            }
        }
        &__card {
            height: auto;
            padding: 0;
            &.mango {
            padding: 43px 40px 46px 33px;
            }
            &.money {
                padding: 38px 33px 45px 33px;
                .faq__card_title {
                    font-size: 2.2rem;
                }
            }
            &_descr {
                width: 100%;
                font-size: 1.4rem;
                line-height: 19px;
            }
        }
    }
    .questions {
        padding: 56px 0 60px;
        &__title {
            font-size: 2.4rem;
        }
        &__subtitle {
            margin-top: 6px;
        }
        &__line {
            width: 50px;
            height: 5px;
            margin: 20px auto 37px;
        }
        &__ellipse1 {
            display: none;
        }
        &__ellipse2 {
            display: none;
        }
        &__leaf1 {
            display: none;
        }
        &__leaf2 {
            display: none;
        }
        &__mango1 {
            display: none;
        }
        &__symbl2 {
            display: none;
        }
    }
    .footer {
        span {
            display: block;
        }
    }
}
@media (max-width: 320px) {}

}
