.questions {
    padding: 110px 0 134px;
    background: linear-gradient(93.34deg, #EDAD57 0%, #FE1725 104.89%);
    position: relative;
    &__title {
        font-family: 'Montserrat';
        font-weight: 800;
        font-size: 3.6rem;
        text-transform: uppercase;
        color: #FFFFFF;
        text-align: center;
    }
    &__subtitle {
        font-size: 2.4rem;
        text-align: center;
        color: #FFFFFF;
    }
    &__line {
        margin: 21px auto 32px;
        width: 64px;
        height: 8px;
        background: #FFFFFF;
        border-radius: 20px;
    }
    &__wrapper {
        display: flex;
        justify-content: space-around;
    }
    &__tel {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        &_icon {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 17px;
            width: 49px;
            height: 49px;
            background: #fff;
            border-radius: 100%;
            img {
                width: 50%;
                height: 50%;
            }
        }
        &_descr {
            font-size: 1.8rem;
            color: rgba(255, 255, 255, 0.7);
        }
        a {
            display: block;
            font-weight: 700;
            font-size: 2rem;
            color: #FFFFFF;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__mail {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        &_icon {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 17px;
            width: 49px;
            height: 49px;
            background: #fff;
            border-radius: 100%;
            img {
                width: 50%;
                height: 50%;
            }
        }
        a {
            display: block;
            font-weight: 700;
            font-size: 2rem;
            color: #FFFFFF;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__soc {
        width: 30%;
        display: flex;
        align-items: center;
        &_icon {
            font-size: 2.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 30px;
            width: 49px;
            height: 49px;
            color: #F05A22;
            background: #fff;
            border-radius: 100%;
            transition: all .5s ease;
            &:nth-last-child() {
                margin-right: 0;
            }
            &:hover {
                color: #EDAC57;
            }
        }
    }
    &__ellipse1 {
        position: absolute;
        width: 225px;
        height: 225px;
        left: -49px;
        top: 129px;
    }
    &__ellipse2 {
        position: absolute;
        width: 145px;
        height: 145px;
        left: calc(50% - 145px/2 + 218.5px);
        top: 334px;
    }
    &__ellipse3 {
        position: absolute;
        width: 303px;
        height: 303px;
        right: -105px;
        top: -60px;
    }
    &__leaf1 {
        position: absolute;
        width: 78px;
        height: 92px;
        left: -290px;
        top: 193px;
        z-index: 10;
    }
    &__leaf2 {
        position: absolute;
        width: 78px;
        height: 92px;
        right: -260.79px;
        top: 19px;
        transform: rotate(86.16deg);
        z-index: 10;
    }
    &__mango1 {
        position: absolute;
        width: 78.78px;
        height: 80.19px;
        left: -173.96px;
        top: -64.68px;
        filter: blur(4px);
        transform: rotate(30.6deg);
    }
    &__symbl1 {
        position: absolute;
        width: 152px;
        height: 409px;
        left: 100px;
        top: -223px;
    }
    &__symbl2 {
        position: absolute;
        width: 112px;
        height: 300px;
        right: 100px;
        top: -146px;
    }
}